.hero-section {padding-bottom: 50px;}
.hero-image-inner {margin-bottom: 110px; max-width: 150px !important; }
.hero-image-new {margin-bottom:0px;}
.hero .customers-badge {max-width: 220px; margin:0 auto; padding: .5rem;}
.hero .customers-badge-new {position: relative !important; right: 0;}
.customers-badge-inner {margin-right: 40px;}
.home-hero .ourprice {font-size: 14px; padding: 10px;}
.hero .btn-primary {padding: 0.5rem .8rem; font-size: 14px;}
.hero .btn-success {padding: 0.5rem .8rem; font-size: 14px;}
.hero-content h1 {font-size: 2.5rem !important; text-align: left; margin-bottom:0 !important;}
.breadcrumb {font-size: 13px; margin-bottom:0;}
.publist-section {font-size: 13px; color: #444;}
.publist-section span {color: #4e9502; font-weight: 500;}
/*======ourprice=======*/
.ourprice {
  background-color: #028700;
  color: #fff;
  font-size: 20px;
  padding: 7px 15px;
  -webkit-animation: blink 800ms infinite;
          animation: blink 800ms infinite;
}
@-webkit-keyframes blink { 50% { background-color: rgb(0, 0, 0); }}
      @keyframes blink { 50% { background-color: rgb(0, 0, 0); }}
/*======ourprice=======*/
.offer-faq .ourprice {font-size: 15px; padding: 5px;}
.offer-faq a {
  border: 1px #4e9502 solid;
    padding: 2px 10px;
    background: #4e9502;
    color: #fff;
    font-size: 14px;
    border-radius: 20px;
}
.iframehire {width: 100%; height: 250px;}
.service-details h2 {font-size: 2rem !important; font-weight: 400 !important;}
.service-details ul li {list-style: circle !important; display: list-item; margin-left: 20px; font-size: 1.2rem;}
.portfoliobotmob {margin-bottom: 20px;}
.portfoliobotmob img {border: 2px #4e9502 solid;}
.pricing-card-title {font-size: 1.7rem;}
th {font-weight: 400;}
/* fotter cta */
.footer-cta {
  background-color: #4e9502;
  width: 100%;
  border-top: 3px solid #2a5100;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  z-index: 9;
  display: block;  
}

.footer-cta ul {
  font-size: 14px;
  margin: 5px 0;
  list-style: none;  
}

.footer-cta ul li {
  width: 30%;
  display: inline-block;
  text-align: center;
}

.footer-cta ul li a {
  color: #fff;
}

.footer-cta ul li a:hover {
  color: #ccc;
  text-decoration: none
}

.scroll-top {bottom: 36px !important;}
/* fotter cta */

.sidebar-fix {
  overflow: auto;
  position: sticky;
  top: 0%;
}

.extra-list {font-size: 12px;}

/*======blog+page=======*/
.blog-page h2 {font-size: 3.5rem; font-weight: 600;}
.blog-page p {font-size: 1.2rem;}
.services-icon .stat-item i {font-size: 2.5rem; color: #4e9502; border: 2px #4e9502 dotted; border-radius: 50px; padding: 0px 7px;}
/*======blog+page=======*/
.download-wallpaper {margin: 0 auto; text-align: center;}
.download-wallpaper img {margin-bottom: 10px;}
.download-wallpaper a {background-color: #4e9502; color: #fff; padding: 5px 10px; border: 2px solid #4e9502; border-radius: 10px;}
.download-wallpaper a:hover {background-color: #fff; color: #4e9502; border: 2px solid #4e9502; border-radius: 10px;}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.ludwig {
  position: relative;
  padding-left: 1em;
  border-left: 0.2em solid #4e9502;
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 400;
}
.ludwig:before, .ludwig:after {
  content: '\201C';
  font-family: 'Sanchez';
  color: #4e9502;
}
.ludwig:after {
  content: '\201D';
}

@media (max-width: 992px) {
.hero {padding-top: 100px;}    
.hero-image-inner {margin-bottom: 0px; margin-top: -20px; max-width: 100px !important;}
.header .btn-getstarted {font-size: 12px; padding: 4px 8px;}
.hero-content h1 {font-size: 20px !important;}
.hero-content h3 {font-size: 15px;}
.hero .btn-primary {padding: 0.5rem 1rem;}
.hero .btn-success {padding: 0.5rem 1rem;}
.hero .hero-content p {
  font-size: 16px;
}
.home-hero .ourprice {font-size: 13px; padding: 10px 5px;}
.ourprice  {font-size: 13px; padding: 10px 5px;}
.customers-badge-inner {margin-right: 50px;}
.margbotmob {margin-bottom: 5px; font-size: 14px;}
.packages-section {margin-top: -110px;}
.clients .section-title {padding-bottom: 10px;}
.portfoliobotmob {margin-bottom: 20px;}
.footer-links ul li {position: relative; display: inline-flex !important; margin-right: 20px;}
.iframehire {width: 100%; height: 325px;}
.footer-links ul li:before {
  content: "|";
  position: absolute;
  right: -15px;
}
.blog-page .blog {margin-top: -20px;}
.blog-page h2 {font-size: 22px; font-weight: 600;}
.blog-page p {font-size: 16px;}
.service-details h1 {font-size: 20px; font-weight: bold; color: #4e9502;}
.service-details h2, h3, h4 {font-size: 20px !important; font-weight: bold !important; }
.service-details p {font-size: 16px;}
.service-details ul li {font-size: 16px;}
.section-title p {font-size: 16px;}
.services .service-card p {font-size: 16px;}
.about .about-description {font-size: 16px;}
.about .feature-list li {font-size: 16px;}
.footer .copyright {margin-bottom: 20px;}

  }